nav{
    font-weight: 100;
    font-family: 'Bebas Neue', sans-serif;
}
body{
    overflow-x: hidden;
}
a{
    color: #212121;
}
a:hover{
    color: #efe764;
}
.bg-nav-SC {
    background-color: #262625!important;
}
.navbar-light .navbar-nav .nav-link {
    color: #fff;
    font-size: 18px;
}
.navbar-light .navbar-brand {
    color: #fff;
}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: #efe764;
}
.f-xsmall{
    font-size: x-small;
}    
.navbar-2{
    flex-basis: 25%;
}    
.active-sc-nav{
    border-bottom: 3px solid #efe764;
}
.active-sc-nav-black{
    border-bottom: 3px solid #000;
}
footer{
    background-color: #262625!important;
}
.c-withe{
    color: #fff;
}
.c-back{
    color: #212121;
}
.cc-p{
    color: #c3c3c3;
}
.icon-red-footer i{
    color: #fff;
    font-size: 23px;
    padding-right: 10px;
    padding-bottom: 15px;
}
.pd-b-15{
    padding-bottom: 15px;
}
.pd-t-25{
    padding-top: 25px;
}
.center{
    text-align: center
}
.s-b-3{
    background: url(../img/banner-bg.jpg) no-repeat center center scroll;
}
.intro-header {
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    color: #f8f8f8;
    background: url(../img/1.jpg) no-repeat center center;
    background-size: cover;
}
.fs-25{
    font-size: 25px;
}
.fs-100{
    font-size: 100px;
}
.btn-color{
    background: #efe764;
}
.card-gris{
    background: #f8f8f8;
}
.map {
    height: 500px;
}
.circle-sc{
  border: 4px solid #efe764;
  margin-top: 20px;
}
#recent-works {
    padding-bottom: 0px;
    padding: 0px 0;
}
.sq {
    margin-right: 0px;
    margin-left: 0px;
}
.img-init-sq {
    width: 100%;
}

.se {
    position: absolute;
    top: 10%;
    text-align: center;
    right: 0%;
    left: 2%;
}
.btn-sc-out{
    color: #fff;
    border-color: #fff;
    border-radius: 25px;
}
.btn-sc-out:hover{
    background: #efe764;
    color: #212121;
}
.btn-sc-out-2{
    color: #212121;
    background: #f1eb56;
    border-radius: 25px;
    display: inherit;
    margin: 0 auto;
    padding-left: 30px;
    padding-right: 30px;
    font-weight: bold!important;
}
.navbar-light .navbar-toggler {
    background: #efe764;
}
.img-responsive{
    max-width: 100%; 
    height: auto;
}
.p-top-10{
    padding-top: 10px;
}
.italic{
    font-style: italic;
}
.se-text1 {
    padding-right: 15px;
    padding-left: 15px;
}

.white{
    color:#fff;
}
.p-t-b-80{
    padding-bottom: 80px;
    padding-top: 80px;
}
.p-l-r-30{
    padding-left: 30px;
    padding-right: 90px;
}
.p-home{
    color: #fff;
    text-align: center;
    font-size: 18px;
}
.p-50{
        padding: 50px;
}
.section-heading-spacer-3 {
    width: 200px;
    border-top: 4px solid black;
}
.right {
    text-align: right;
}
.left{
    text-align: left;
}
.intro-home-movil{
    display: none;
}
.intro-home-movil-2{
    display: block;
}
.p-150-form{
        padding: 0 150px 0 150px;
}
.r-right{
        text-align: right;
    }
    .r-left{
        text-align: left;
    }

.img-responsive-2 {
    max-width: 100%;
}
.bebas-title{
    font-weight: 400;
    font-size: 7em!important;
    font-family: 'Bebas Neue', sans-serif;
}
.lighter-text{
    font-weight: lighter;
}
.f-z-15{
    font-size: 15px!important;
}
.may{
    text-transform:uppercase;
}
.serve-text{
    text-transform:uppercase;
    color: white;
    padding-top: 20px;
    font-weight: 700;
    font-size: 17px;
}
.h-i-s:hover{
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
    opacity: .8;
}
.f-s60{
    font-size: 60px;
}
.p-top-15{
    padding-top: 15%;
}
.p-b-5{
    padding-bottom: 5%;
}
.black{
    color: #000!important;
}
.bold{
    font-weight: bold;
}
.w-80{
    width: 80px;
}
.l-s2{
    letter-spacing: 2px;
}
.l-h24{
    line-height: 24px
}
.fz15{
    font-size: 15px;
}
.fz14{
        font-size: 14px;
}
.b-r-50{
    border-radius: 50px;
}
.card-body-2 {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    /* padding: 1.25rem; */
    padding-top: 10px;
}
#map {
    width: 100%; height: 500px;
}   

@font-face {
 font-family: 'Gothamy';
 src: local('Gotham Book'), local('Gotham-Book');
 font-weight: normal;
 font-style: normal;
 font-variant: normal;
}
@font-face {
 font-family: 'Gothamy';
 src: local('Gotham Bold'), local('Gotham-Bold');
 font-weight: bold;
 font-style: normal;
 font-variant: normal;
}
@font-face {
 font-family: 'Gothamy';
 src: local('Gotham Book Italic'), local('Gotham-BookItalic');
 font-weight: normal;
 font-style: italic;
 font-variant: normal;
}
@font-face {
 font-family: 'Gothamy';
 src: local('Gotham Bold Italic'), local('Gotham-BoldItalic');
 font-weight: bold;
 font-style: italic;
 font-variant: normal;
}
.gothan-liger{
    font-family: Gothamy, Gotham-Book, Arial, sans-serif;
    font-weight: lighter;
}
.gothan{
    font-family: Gothamy, Gotham-Book, Arial, sans-serif;
}

@font-face {
    font-family: "Bebas Neue";
    src: url(../font/bebas/BebasNeue.otf) format("truetype");
}
.bebas{
    font-family: 'Bebas Neue', sans-serif;
}

.lol {
  /*position: relative;
  width: 100%;*/
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  /*position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;*/
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #008CBA;
}

.lol:hover .overlay {
  opacity: 1;
}

.portfolio-item{
        padding-top: 20px;
}

.text {
    color: white;
    font-size: 12px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.97);
    /* padding: 0px; */
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 5px;
    /*border: 1px solid #f1eb56;*/
    width: 170px;
    height: 170px;
}
.fz12{
    font-size: 12px;
}
.f-r-r-f{
    float: right;
}
.msn-success{
        padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    background: #4CD964;
    width: 300px;
    border-radius: 10px;
    margin: 0 auto;
}

.footer-texto{
    letter-spacing: 0.5px;
    font-size: 16px;
    font-weight: 100;
    font-family: 'Bebas Neue', sans-serif;
}

@media only screen and (max-width: 500px) {
    .width-100 {
        margin: 0 auto;
        width: 100px;
    }
    .p-150-form{
        padding: 0 20px 0 20px;
    }
    .r450-res-vs{
        background: #dcdedd!important;
        text-align: center!important; 
    }
    .img-fluid {
        max-width: 100%;
        height: auto;
        width: 100px;
    }
    .intro-home-movil{
        display: block;
    }     
    .intro-home-movil-2{
        display: none;
    } 
    .r-right{
        text-align: center;
    }
    .r-left{
        text-align: center;
    }
    .p-l-r-30 {
    padding-left: 35px;
    padding-right: 35px;
        }
        .r-20-t{
            padding-top: 20px;
        }
        .back-c-r{
            background: #262625!important;
        }
        .display-none{
        display: none;
    }
    .center-r{
        text-align: center!important;
    }
    .f-r-r-f{
    float: none;
}
.bebas-title {
    font-weight: 400;
    font-size: 4em!important;
    font-family: 'Bebas Neue', sans-serif;
}

}

@media (max-width: 700px) {
  .se {
        position: relative;
        top: 0;
        text-align: center;
        right: 0%;
        left: 0;
        display: block;
        margin-top: 0px;
        color: #fff;
        background: #262625;
        padding-bottom: 30px;
        padding-top: 30px;
    }
    .display-none-2{
        display: none; 
    }
}
.display-none-nav{
    display: none;
}
@media (max-width: 950px) {
    .display-none-nav{
        display: block; 
    }
}